@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  padding: 0;
  margin: auto;
}

html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
  display: flex;
  font-family: 'PretendardVariable';
  color: p5;
}

@layer base {
  body {
    @apply text-p5;
  }
}

@font-face {
  font-family: 'SBAggroB';
  src: url('../../shared/assets/fonts/SBAggroB.ttf') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PretendardVariable';
  src: url('../../shared/assets/fonts/PretendardVariable.ttf') format('woff');
  font-weight: normal;
  font-style: normal;
}

.logo {
  height: 80px;
  will-change: filter;
  transition: filter 300ms;
}

.logotext {
  font-family: 'SBAggroB';
}

h1 {
  display: block;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h2 {
  display: block;
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h3 {
  display: block;
  font-size: 1.2em;
  margin-top: 0.75em;
  margin-bottom: 0.5em;
  margin-left: 0;
  margin-right: 0;
  font-weight: 600;
}

.typo-body {
  font-size: 1.07em;
  font-weight: normal;
}

.typo-body-medium {
  font-size: 0.96em;
  font-weight: normal;
}

.typo-body-small {
  font-size: 0.86em;
  font-weight: normal;
}

.typo-caption {
  font-size: 0.75em;
  font-weight: normal;
}

.typo-button {
  font-size: 1em;
  font-weight: 500;
}

.typo-button-small {
  font-size: 0.87em;
  font-weight: 500;
}
