__pycache__/
venv/
.venv/
.env

*.pyc
*.pyo
*.pyd
*.log
*.sqlite3
instance/
*.db
.DS_Store
*.egg-info/
.idea/
.vscode/
*.swp
*.swo
*.coverage
.coverage.*
htmlcov/
dist/
build/
*.egg
*.egg-info/
pip-wheel-metadata/
__pypackages__/
nohup.out

# 도커 이미지 파일
*.tar
